* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    /* resize: both; */
    width: 600px;
    height: 600px;
    background-color: blueviolet;
    display: grid;
    grid: repeat(auto-fit, minmax(50px, 1fr)) / repeat(auto-fit, minmax(50px, 1fr));
  
}

.cell {
    border: 1px solid white;
    background-color: aquamarine;
}

.hover {
    background-color: gold;
}