* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 5vh; 
}
.grid-container {
    /* resize: both; */
    width: 600px;
    height: 600px;
    background-color: blueviolet;
    display: grid;
  
}

.cell {
    border: 1px solid white;
    background-color: aquamarine;
}

.hover {
    background-color: gold;
}