@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Indie Flower', cursive;
    color: white;
}

h1 {
    font-size: 60px;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #00F260, #0575E6);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 5vh; 
}
.grid-container {
    /* resize: both; */
    width: 600px;
    height: 600px;   
    display: grid;
    border: 40px solid red;
    border-radius: 25px;     
}

.cell {
    background-color: white;
}

.options {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;

}

